<div class="container mt-4">
    <h1><%= t('.Edit Task') %></h1>

    <%= render 'form', task: @task %>
    <br>
    <div class="form-group">
        <%= link_to t('common.show'), @task, id: "update-task", class: 'btn btn-success' %>
    </div>
    <%= link_to t('common.back'), tasks_path, id: "back", class: 'btn btn-secondary' %>
</div>